@import "tailwindcss";

@layer base {
  body {
    font-family: 'Tajawal', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  }
}

@keyframes marqueeRTL {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee-rtl {
  display: inline-block;
  white-space: nowrap;
  animation: marqueeRTL 25s linear infinite;
}

.animate-marquee-rtl:hover {
  animation-play-state: paused;
}
